* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: gilroy;
}
html,
body {
  height: 100vh;
  width: 100vw;
  background-color: #f8f7f4;
}
header {
  height: 10%;
  width: 98%;
  /* background-color: white; */
  & nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .div {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 33vw;
      height: 10vh;
      /* background-color: pink;  */
      gap: 2vw;
      & p {
        font-size: 1.1vw;
        font-weight: 600;
        & i {
          font-size: 1vw;
          font-weight: 600;
        }
      }
      & .search {
        height: 4vh;
        /* background-color: navajowhite; */
        padding: 1.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5vw;
        gap: 1vw;
        transition: all ease linear;
        & i {
          font-size: 1.4vw;
          font-weight: 600;
          color: #727272;
        }
        & input {
          border: none;
          outline: none;
          flex: 1;
          background-color: transparent;
        }
      }
    }
    & h1 {
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-size: 1.9vw;
      font-style: normal;
    }
    & h3:last-child {
      background-color: black;
      padding: 1vw;
      color: #fff;
      border-radius: 5vw;
      cursor: pointer;
    }
  }
}
::placeholder {
  color: #727272;
}
.search:hover {
  box-shadow: 0 0 0 0.2vw #f7e8f1;
}
#page-1 {
  width: 100vw;
  height: 50vh;
  /* background-color: aqua; */
  display: grid;
  place-items: center;
  padding: 4vh 0;
  & .glow {
    padding: 0.7vw;
    /* background-color: rgb(247, 141, 232); */
    border-radius: 2.5vw;
    /* margin-bottom: 3vh; */
    animation: glow 20s linear infinite;
    cursor: pointer;
  }
  & div {
    padding: 0vw;

    & h4 {
      font-size: 1.1vw;
      font-weight: 600;
    }
    & h1 {
      font-size: 5vw;
      font-weight: 600;
      text-align: center;
      line-height: 8vh;
    }
    & p {
      font-size: 1.5vw;
      font-weight: 500;
    }
    & h5 {
      font-size: 1.2vw;
      font-weight: 500;
      padding: 1vw;
      color: white;
      border-radius: 2vw;
      background-color: black;
      cursor: pointer;
    }
  }
}
@keyframes glow {
  0% {
    background-color: rgb(245, 146, 179);
  }
  25% {
    background-color: rgb(149, 149, 244);
  }
  50% {
    background-color: #727272;
  }
  75% {
    background-color: rgb(241, 229, 162);
  }
  100% {
    background-color: rgb(204, 154, 255);
  }
}
#page1-btm {
  width: 100%;
  height: 50vh;
  /* background-color: chocolate; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;

  & #scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    animation: img-scroll 15s linear infinite;
    margin-left: 2vw;
  }
  & .box {
    width: 20vw;
    height: 45vh;
    /* background-color: aqua; */
    overflow: hidden;
    border-radius: 2vw;
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    & video {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
@keyframes img-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2vw));
  }
}
#page-2 {
  width: 100vw;
  height: fit-content;
  /* background-color: teal; */
  margin-top: 7vh;
  padding: 2vw 3vw;
  & h1 {
    text-align: center;
    font-weight: 400;
    font-size: 4.5vw;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    padding: 3vh;
  }
  & div {
    margin: 1vw;
    width: 22.5%;
    height: 33%;
    /* background-color: wheat; */
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    padding: 0;
    & img {
      object-fit: cover;
    }
    & .btm {
      position: absolute;
      background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.276));
      bottom: -50%;
      left: -10%;
      height: 50%;
      width: 106%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 2vw;
      /* opacity: 0; */
      transition: all ease 0.3s;
      & h3 {
        color: white;
        width: 70%;
      }
      & i {
        /* font-size: 1vw; */
        border-radius: 50%;
        margin-inline: 0.2vw;
        padding: 1vw;
        aspect-ratio: 1;
        color: black;
        background-color: #fff;
      }
    }
  }
  & div:hover .btm {
    opacity: 1;
    bottom: -10%;
  }
  & .line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    & h2 {
      text-align: center;
      font-size: 1.2vw;
      font-weight: 500;
      padding: 1vw;
      border-radius: 2vw;
      border: 1px solid black;
      cursor: pointer;
      margin-bottom: 8vh;
    }
  }
}
#page-3 {
  width: 100vw;
  height: 80vh;
  background-color: #ffda79;
  padding-block: 10vh;
  text-align: center;
  font-family: "Playfair Display", serif;

  & h1 {
    font-size: 5vw;
    font-weight: 500;
    line-height: 8vh;
  }
  & p {
    font-size: 1.5vw;
    font-weight: 300;
    line-height: 4vh;
    text-align: center;
    padding-block: 4vh;
  }
  & .btn {
    display: flex;
    gap: 1.5vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3vh;
    & button {
      outline: none;
      border: none;
      background-color: black;
      color: white;
      padding: 1.3vw;
      font-size: 1.1vw;
      margin-block: 2.5vh;
      border-radius: 10vw;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      cursor: pointer;
      & button {
        outline: none;
        border: none;
        background-color: black;
        color: white;
        padding: 1vw;
        display: inline;
      }
    }
    & :nth-last-child(1) {
      color: black;
      background-color: white;
    }
  }
  h4 {
    display: inline-block;
    /* background-color: pink; */
    font-family: sans-serif;
    font-weight: 1;
    font-size: 1.5vw;
  }
  & a {
    font-weight: 200;
    font-size: 1.5vw;
    font-family: sans-serif;
    color: black;
  }
}
#box {
  width: 100vw;
  height: 40vh;
  display: flex;
  overflow: hidden;
  & .img-scroll {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2vw;
    animation: run 6s linear infinite;
    /* overflow: hidden; */
    margin: 1.2vw;
    & div {
      /* display: inline-block; */
      width: 18vw;
      aspect-ratio: 4/3;
      /* background-color: aqua; */
      margin: 0;
      & img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }
  }
}
@keyframes run {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(calc(-110% - 1.2vw),0);
  }
}
footer {
  width: 100vw;
  height: 35vh;
  /* background-color: navy; */
  display: grid;
  place-items: center;
  & .up {
    width: 80%;
    height: 90%;
    /* background-color: magenta; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    & h1 {
      font-family: "Pacifico", cursive;
      font-weight: 400;
      font-size: 1.9vw;
      font-style: normal;
    }
    & .mid {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      & h4 {
        font-weight: 550;
        font-size: 1vw;
      }
    }
    & .icons {
      display: flex;
      justify-content: space-between;
      gap: 1vw;
      & i {
        font-size: 1.5vw;
      }
    }
  }
  & .down {
    width: 80%;
    height: 90%;
    /* background-color: magenta; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .left {
      display: flex;
      gap: 1vw;
      & h4 {
        font-size: 1vw;
        font-weight: 200;
      }
    }
    & .right {
      display: flex;
      gap: 1vw;
      & h4 {
        font-size: 1vw;
        font-weight: 500;
      }
    }
  }
}
